.test-border {
  border: solid black 1px;
}

#main-heading {
  font-size: 150px;
  font-style: bold;
}

span {
  color: #F04124;
}

.nav-hover {
  cursor: pointer;
}

/* show the collapse when navbar toggle is checked */
#navbar-toggle-cbox:checked ~ .collapse {
    display: block;
}

/* the checkbox used only internally; don't display it */
#navbar-toggle-cbox {
  display:none
}

#avatar-large {
  width: 185px;
  height: 200px;
}

.user-name {
  padding-left: 20px;
}

#jumbo {
  margin: 30px;
}

#picture-modal {
  width: 60%;
  height: 600px;
  border: solid black 5px;
  margin: 0 auto;
  position: absolute;
  bottom: 30px;
  left: 20%;
  background-color: white;
  display: none;
  text-align: center;
}

#close-picture-modal-btn {
  float: right;
}

#beer-picture-btn {
  margin-top: 20px;
}
