<div class="col-xl-12 text-center">
  <h1><span>Log Beer</span></h1>
  <form class="form">
    <div class="form-group">
      <label><h4>Beer Name</h4></label>
      <input type="text" class="form-control" name="name" ng-model="lbc.beer.name" required>
    </div>
    <div class="form-group">
      <label><h4>Color</h4></label>
      <input type="text" class="form-control" name="color" ng-model="lbc.beer.color">
    </div>
    <div class="form-group">
      <label><h4>Alcohol Content</h4></label>
        <input type="number" class="form-control" name="alcoholcontent" ng-model="lbc.beer.alcoholcontent">
      </div>
      <div class="form-group">
        <label><h4>IBU(Bitterness Rating)</h4></label>
          <input type="number" class="form-control" name="ibu" ng-model="lbc.beer.bitter">
      </div>
      <button class="btn btn-success" type="button" id="modal-btn">Add Picture</button>
      <br>
      <br>
        <button type="submit" class="btn btn-danger btn-lg" ng-click="lbc.logBeer(lbc.beer)">Log Beer!</button>
      </div>
  </form>
</div>

<!-- Picture Modal -->

<div id="picture-modal">
  <button type= "button" class="btn btn-danger" id="close-picture-modal-btn">X</button>
  <br>
  <label class="btn btn-success btn-file"id="beer-picture-btn">
    Please Select a Picture<input type="file" style="display: none;" id="file-input">
  </label>
  <br>
  <br>
  <img id="preview" src="./img/beer-default.png" style="width: 66%; height: 66%;" />
</div>
