
<div class="col-xl-12 text-center">
  <h1>{{ bdc.beer.name }}</h1>
    <hr>
    <h2>Logged by: {{ bdc.beer.user.name }}</h2>
    <div class="col-sm-12 col-xl-6">
      <img style="border:1px solid gray; height:300px;"  class="img-thumbnail large-avatar" src="{{ bdc.beer.picture }}" >
      <br>
      <div class="col-sm-12">
        <h3>{{bdc.name}}</h3>
        <hr>
        <h4>Color: {{bdc.beer.color}}</h4>
        <h4>Alcohol Content: {{bdc.beer.alcoholcontent}}</h4>
        <h4>IBU: {{bdc.beer.bitter}}</h4>
        <h4>Review: {{bdc.beer.review.title}} | by {{bdc.beer.user.name}}</h4>
        <br>
        <p>
          {{bdc.beer.review.body}}
        </p>
      </div>
      <hr>
      <button ng-show="bdc.beer.user._id == main.currentUser._id" ng-click="bdc.showReviewDiv()" class="btn btn-lg btn-success" id="toggle-review-btn">Add Review</button>
      <div style="display: none;" id="review-div">
        <form class="form" ng-submit="bdc.logReview(bdc.review)">
          <div class="form-group">
            <label><h4>Title</h4></label>
            <input type="text" class="form-control" name="title" ng-model="bdc.review.title" required>
          </div>
          <div class="form-group">
            <label><h4>Review</h4></label>
              <input type="text" class="form-control" style="width: 600px; height: 400px" name="body" ng-model="bdc.review.body" required>
            </div>
            <div>
              <button type="submit" class="btn btn-danger btn-lg" ng-disabled="bdc.disabled">Post Review</button>
            </div>
        </form>
      </div>

    </div>
</div>
