<div class="col-sm-12 col-xl-6 offset-3 test-border">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3"><h1 id="main-heading" class="text-center">T<span style="font-size: 200px; color: tomato;">B</span>J</h1></h1>
      <p class="lead"><h5 class="text-center">The Beer Journal</h5></p>
      <button style="class="btn btn-primary btn-lg"">Log In</button>
      <button style="class="btn btn-primary btn-lg"">Register</button>
    </div>
  </div>
</div>
