<div class="col-sm-12 col-xl-6 offset-3 test-border">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3"><h1 id="main-heading" class="text-center">T<span style="font-size: 200px; color: #F04124;">B</span>J</h1></h1>
      <p class="lead"><h5 class="text-center">The Beer Journal</h5></p>
      <div class="col-xl-12 text-center">
        <br>
          <a ng-hide="main.currentUser" ui-sref="login"><button class="btn btn-danger btn-lg"> Log In </button></a>
          <a ng-hide="main.currentUser" ui-sref="register"><button class="btn btn-danger btn-lg">Register</button></a>
          <button style="display: none;" ng-click="main.$rootScope.isLoggedIn()">Test</button>
        <br>
      </div>
    </div>
  </div>
</div>
