</div>
<div class="col-xl-12 text-center">
  <h1>{{main.currentUser.name}}</h1>
  {{main.currentUser.beers}}
        <hr>
        <div class="col-sm-12 col-xl-6">
          <img style="border:1px solid gray;width:300px;"  id="preview" src="{{ main.currentUser.avatar }}">
          <br>
          <br>
          <button class="btn btn-primary" id="edit-avatar-btn" ng-click='suc.showAvatarDiv()'>Change Avatar</button>
          <br>
          <div style="display: none;" id="new-avatar-div">
            <input type="file" id="file-input">
            <p id="status">Please select a file</p>


            <form method="POST" action="/save-details">
              <input type="hidden" id="avatar-url" name="avatar-url" value="{{ main.currentUser.avatar }}">
          </div>


          <hr>
          <h2>Changes are saved automatically</h2>

          <!-- <input type="submit" value="Update profile"> -->
        </form>
        </div>
        <div class="col-sm-12 col-xl-6">
          <h1><span>Beers Logged</span></h1>
          <div class="list-group">
            <div class="list-group-item clearfix car" ng-repeat="b in main.currentUser.beers">
              <div class="row">
                <div class="col-sm-3 text-center">
                  <img ui-sref="beer({id: b._id})" ng-src="{{ b.picture }}" id="avatar-large">
                </div>
                <div class="col-sm-9">
                  <div class="col-sm-10">
                    <h3>{{b.name}}</h3>
                    <hr>
                    <h4>Color: {{b.color}}</h4>
                    <h4>Alcohol Content: {{b.alcoholcontent}}</h4>
                    <h4>IBU: {{b.bitter}}</h4>
                    <h4>Review: {{b.review.title}} | by {{b.user.name}}</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

</div>
