<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div>
        <h1>The Community</h1>
      </div>
      <div class="list-group">
        <div class="list-group-item clearfix car" ng-repeat="u in uc.users">
          <div class="row">
            <div class="col-sm-3 text-center">
              <img ui-sref="user({id: u._id})" ng-src="{{ u.avatar }}" id="avatar-large">
            </div>
            <div class="col-sm-9">
              <h3 class="user-name capitalize">{{ u.name }}</h3>
              <div class="col-sm-10">
                <hr>
              </div>
              <div ng-repeat="b in u.beers">
                <!-- <a ui-sref="beer({id: b._id})"> -->
                  <div ui-sref="beer({id: b._id})" class="col-sm-10">
                  <h3>{{b.name}} | <img src="{{ b.picture }}" style="width: 60px;" /></h3>
                  <hr>
                  <h4>Color: {{b.color}}</h4>
                  <h4>Alcohol Content: {{b.alcoholcontent}}</h4>
                  <h4>IBU: {{b.bitter}}</h4>
                  <hr>
                </div>
                <!-- </a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
